*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.logo{
	text-align: center;
	margin: 0 auto;
	padding: 20px 0px;
}
.nav-links{
	background: #e36414;
	text-align: center;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 16px;
	position: relative;
}

.nav-links ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}
.banner{
	width: 100%;
	min-height: 70vh;
    background: url('..//images/download2.jpg') no-repeat;
	background-size: cover;
	position: relative;
}
.text-block{
	width: 80%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
.text-block h1 {
	font-size: 40px;
}
.text-block p {
	font-size: 16px;
}

.btn-primary {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 3px solid yellow;
	padding: 12px 40px;
	font-size: 20px;
	background: transparent;
	position: relative;
	margin-top: 15px;
}
.btn-primary:hover {
	border: 2px solid #ced4da;
	background: #ced4da;
	color: grey;
	transition: 0.5s;
}

.btn-secondary {
	display: inline-block;
	text-decoration: none;
	color: #240046;
	border: 2px solid #240046;
	padding: 12px 40px;
	font-size: 25px;
	background: transparent;
	position: relative;
	margin-top: 20px;
	border-radius: 5px;
}
.btn-secondary:hover {
	border: 2px solid #21d3557;
	background: #1d3557;
	color: white;
	transition: 0.5s;
}


nav .fas {
	display: none;
}

@media(max-width: 768px){
	
nav .fa-bars {
	display: block;
}
	
	.fa-bars {
		position: absolute;
		left: 10px;
		top: 28px;
		font: 22px;
		color: green;
		cursor: pointer;
	}
.text-block h1 {
	font-size: 34px;
}
.nav-links ul li {
	display: block;
}
.nav-links {
	position: absolute;
	background:ffba08; 
	height: 100vh;
	width: 150px;
	text-align: left;
	z-index: 2;
	top: 0;
	left: -200px;
	transition: 1s;
	
}

}
.nav-links .fas {
	display: block;
	color: white;
	margin: 10px;
	font-size: 22px;
	cursor: pointer;
}

/* grid system */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: auto;
}


@media(max-width: 768px) {
	.container {
		width: 750px;
		
	}
}
@media(max-width: 992px) {
	.container {
		width: 970px;
	}
}
@media(max-width: 1200px){
	.container {
		width: 1170px;
	}
}

/* grid system */

.heading {
	text-align: center;
	padding: 20px 0px 20px 0px;
	text-decoration: underline;
}

.text-center {
	text-align: center;
}

.ad-banner {
	background: black;
	padding: 5px;
	text-align: center;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}

footer {
	background: #dc2f02;
	padding: 80px opx;
	color: white;
}

.footer-menu li {
	list-style: none;
	padding: 10px 16px;
	position: relative;
}
footer h3{
	padding-bottom: 20px;
}
.copyright {
	background: black;
	color: white;
	padding: 20px opx;
	text-align: center;

}


.inner-banner {
	width: 100%;
	min-height: 50vh;
    background: url('..//images/banner 7.jpeg')no-repeat;
	background-size: cover;
	position: relative;
}
.p40{
	padding: 40px 0px;
}

.sidebar {
	border-left: 1px #ccc solid;
	padding-left: 50px;
}

.blog-area{
	border-right: 1px #aaa solid;
}

.blog-item{
	padding-bottom: 60px;
}
.product-name{
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
}
.price{
	font-size: 20px;
	color: #fff200;
	background: transparent;	
}
.btn-shop {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 2px solid #7b9e11;
	padding: 12px 40px;
	font-size: 20px;
	background: #7b9e11;
	position: relative;
	margin-top: 20px;
	border-radius: 5px;
}
.btn-shop:hover {
	border: 2px solid #7b9e11;
	background: white;
	color: #7b9e11;
	transition: 0.5s;
}
.product_card:hover {
	border: 1px soild #ccc;
	border-radius: 10px;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	}
	
textarea{
width: 100%;
height: 200px;
padding: 12px 20px;
margin: 8px 0px;
box-sizing: border-box;	
}

input[type=submit] {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 2px solid #7b9e11;
	padding: 12px 40px;
	font-size: 20px;
	background: #7b9e11;
	position: relative;
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}
input[type=submit]:hover {
	border: 2px solid #7b9e11;
	background: white;
	color: #7b9e11;
	transition: 0.5s;
	
